@using LutongBahayApp.ViewModels
@using LutongBahayApp.Data.Enum
@model IEnumerable<UserOrdersViewModel>
@{
}

<div class="relative" id="home">
    <div class="relative pt-10 ml-auto">
        <div class="lg:w-2/3 mx-auto w-11/12">

            <!-- Breadcrumb -->
            <nav class="max-w-sm mt-4 mb-6 flex px-5 py-3 text-gray-700 overflow-auto" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a asp-action="Index" asp-controller="Home" class="whitespace-nowrap inline-flex items-center text-sm font-medium text-gray-700 hover:text-primary dark:text-gray-400 dark:hover:text-white">
                            <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                            </svg>
                            Home
                        </a>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                            <span class="whitespace-nowrap ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Orders<span>
                        </div>
                    </li>
                </ol>
            </nav>

            <h2 class="text-3xl mt-4 font-bold dark:text-white mb-2">Your Orders</h2>
            <!-- Search Bar -->
            <div>
                <form class="w-full">
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </div>
                        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary focus:border-primary dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search in Orders" required />
                        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary dark:hover:bg-primary dark:focus:ring-primary">Search</button>
                    </div>
                </form>
            </div>

            <!-- Orders -->
            @if (Model == null || !Model.Any())
            {
                <div class="my-4 shadow-lg sm:rounded-lg border border-primary/20 px-4 py-2">
                    <h2 class="text-xl font-medium opacity-60"> No Orders yet</h2>
                </div>
            }
            else
            {
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Order Id
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Order Address
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Total Amount
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Order Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Status
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model)
                            {
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        @order.Id
                                    </th>
                                    <td class="px-6 py-4">
                                        @order.OrderAddress
                                    </td>
                                    <td class="px-6 py-4">
                                        @order.TotalAmount.ToString("C")
                                    </td>
                                    <td class="px-6 py-4">
                                        @order.OrderDate.ToString("MMM dd, yyyy")
                                    </td>
                                    @{
                                        string statusColor = "";

                                        switch (order.Status)
                                        {
                                            case OrderStatus.Success:
                                                statusColor = "text-green-500";
                                                break;
                                            case OrderStatus.Pending:
                                                statusColor = "text-teal-500";
                                                break;
                                            case OrderStatus.Failed:
                                                statusColor = "text-red-500";
                                                break;
                                            case OrderStatus.Cancelled:
                                                statusColor = "text-yellow-500";
                                                break;
                                            case OrderStatus.OnDelivery:
                                                statusColor = "text-blue-600";
                                                break;
                                        }
                                    }
                                    <td class="px-6 py-4 font-medium @statusColor">
                                        @order.Status
                                    </td>
                                    <td class="px-6 py-4 text-right">
                                        <a asp-action="Detail" asp-route-id="@order.Id" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>
                  